body{
    background-image: url(imagens2/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
